.tier {
    display: flex;
    padding: 0em 5em 0em 5em;
    justify-content: center;
}

.pyramidValue {
    padding: 0.5em;
    margin: 1.5em;
    font-size: x-large;
}

.finalPath {
    background-color: coral;
    border: 1px solid black;
    border-radius: 100%;
  }



.highlight {
    background-color: skyblue;
    border: 1px solid black;
    border-radius: 100%;
}