#buttons {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.header {
  padding: 2em;
}

#answer {
  float: right;
  font-size: x-large;
  margin: 2em;
}

#pyramids {
  display: flex;
  justify-content: space-around;
}

#numberPyramid {
  flex-basis: 50%;
}

#explanationText {
  padding: 2em;
}